body {
    background-color: black;
}
.navbar {
    box-shadow: -1px 1px 14px 0px #00bFF0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1030;
}
.navbar-name {
    color: #F23580;
}
.bg-dark {
    background-color: #000!important;
}
.menu-icon-img img {
    width: 50px;
}
.menu-icon-img img {
    transition: transform 0.3s; /* Add a smooth transition effect */
}

.menu-icon-img:hover img {
    transform: scale(1.1); /* Increase the size on hover */
}
.jumbotron-content {
    position: relative; /* Position the container as a reference for absolute positioning */
}

img {
    max-width: 100%; /* Ensure the image doesn't exceed its container width */
    height: auto; /* Maintain the image's aspect ratio */
}
.jumbotron {
    background-color: #000;
}

.jumbotron-overlay {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 20px;
}

.jumbotron-title {
    font-size: 2rem; /* Customize title font size */
    ;
}

.jumbotron-text {
    color: #00BFF0;
    font-size: 18px; /* Customize text font size */
}
.jumbotron-content img {
    margin-top: -28%;
    width: 100%;
    box-shadow: -1px 11px 99px 0px #00bFF0;
}
.jumbotron-content {
    margin-top: 20px;
    position: relative;
}
.container, .container-md, .container-sm {
    padding-bottom: 70%;
    max-width: 100%;
}
/* Your existing jumbotron styles remain the same */
.row {
   
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.row-1 {
    position: relative;
    margin-top: -364px;
    text-align: center;
    z-index: 2;
}

/* Additional styles for the image within row-1 */
.row-1 img {
    max-width: 100%; /* Ensure the image doesn't exceed its container width */
    height: auto; /* Maintain the image's aspect ratio */
}

.project-title {
    font-size: 2rem;
     text-align: center;
     color: #F23580;
     padding-bottom: 6%;
     margin-top: -2%;
    
}
.project-title-rc {
    font-size: 1.4rem;
    margin-left: 14%;
    color: #F23580;
    margin-top: -154%;
}
.project-title-tdf {
    font-size: 1.4rem;
    margin-left: 14%;
    color: #F23580;
    margin-top: -154%;

}
.project-title-smart-reciepes{
    font-size: 1.4rem;
    margin-left: 14%;
    color: #F23580;
    margin-top: -154%;

}
.project-title-give-gaurdian {
    font-size: 1.4rem;
    margin-left: 14%;
    color: #F23580;
    margin-top: -154%;
}
.collapse.navbar-collapse.ml-auto {
    justify-content: right;
}
/* Style for the active link */
.navbar-dark .navbar-nav .nav-item.active .nav-link {
    color: #F23580; /* Change this to the desired color */
}
.footer {
           
    padding: 1rem;
    box-shadow: -1px 1px 14px 0px #00BFF0;
    width: 100%;
    background-color: #000;
    flex-shrink: 0;
}

/* Add this CSS to your existing stylesheet */

#footer-image {
    width: 170px;
   
}

.footer-text {
    font-size: 12px;
    color: #495057;
}
/* Style for the footer links */
.footer-links {
    list-style-type: none;
    padding: 0;
}
dl, ol, ul {
    /* margin-top: 0; */
    /* margin-bottom: 21rem; */
}
.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #f23580;
    transition: text-decoration 0.3s; /* Add a smooth transition effect */
}

.footer-links a:hover {
    text-decoration: underline; /* Underline the link on hover */
    color: #00BFF0; /* Change the link color on hover */
}
.container-fluid footer img {
    margin-left: 37%;
    justify-content: center;
    width: 25%;
    margin-top: -63px;
}
