body {
    background-color: black;
}
.navbar {
    box-shadow: -1px 1px 14px 0px #00bFF0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1030;
}
.navbar-name {
    color: #F23580;
}
.bg-dark {
    background-color: #000!important;
}
.menu-icon-img img {
    width: 50px;
}
.menu-icon-img img {
    transition: transform 0.3s; /* Add a smooth transition effect */
}

.menu-icon-img:hover img {
    transform: scale(1.1); /* Increase the size on hover */
}
.jumbotron-content {
    position: relative; /* Position the container as a reference for absolute positioning */
}

img {
    max-width: 100%; /* Ensure the image doesn't exceed its container width */
    height: auto; /* Maintain the image's aspect ratio */
}
.jumbotron {
    background-color: #000;
}

.jumbotron-overlay {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 20px;
}

.jumbotron-title {
    font-size: 2rem; /* Customize title font size */
    ;
}

.jumbotron-text {
    color: #00BFF0;
    font-size: 18px; /* Customize text font size */
}
.jumbotron-content img {
    margin-top: -28%;
    width: 100%;
    box-shadow: -1px 11px 99px 0px #00bFF0;
}
.jumbotron-content {
    margin-top: 20px;
    position: relative;
}
.container, .container-md, .container-sm {
    padding-bottom: 70%;
    max-width: 100%;
}
/* Your existing jumbotron styles remain the same */
.row {
   
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 10%;
}
.row-1 {
    position: relative;
    margin-top: -484px;
    text-align: center;
    z-index: 2;
}

/* Additional styles for the image within row-1 */
.row-1 img {
    max-width: 100%; /* Ensure the image doesn't exceed its container width */
    height: auto; /* Maintain the image's aspect ratio */
}
.row-2 img{
          width: 100%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

.project-title {
    font-size: 2rem;
     text-align: center;
     color: #F23580;
     padding-bottom: 6%;
     margin-top: -2%;
    
}

.project-title-rc {
    padding-bottom: 60px;
    font-size: 1.6rem;
    margin-left: 6%;
    color: #F23580;
    margin-top: -1428px;
}
.project-text {
    color: white;
    margin-left: 5%;
    margin-right: 5%;
}
.carousel-inner {
    padding-top: 5%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 75%;
    overflow: hidden;
}
.button-click {

        margin-right: 5%;
        margin-left: auto;
        width: 24%;
        padding: 1rem;
    }

    .project-title-tdf {
        font-size: 1.6rem;
        margin-left: 5%;
        color: #F23580;
        margin-top: -1422px;
    }
.row-3 {
    padding-top: 359px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    color: white;
}
.project-text-tdf {
    margin-top: 86px;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
}
.row-3 img{
 
    width: 100%;
    margin-right: auto;
    margin-left: auto;

}


.project-title-smart-reciepes {
    font-size: 1.6rem;
    margin-left: 6%;
    color: #F23580;
    margin-top: -1425px;
}
.project-text-smart-reciepes {
    padding-top: 66px;
    margin-right: 5%;
    color: white;
    margin-left: 5%;
}
.row-4 {
  
        padding-top: 271px;
    }

.row-4 img{
 
    width: 100%;
    margin-right: auto;
    margin-left: auto;

}
.row-5 {
 
        padding-top: 484px;
    }

.row-5 img{
   
 
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    
    }



    .project-title-give-gaurdian {
        font-size: 1.6rem;
        margin-left: 6%;
        color: #F23580;
        margin-top: -1366px;
    }
    .project-text-give-gaurdian{
        
            padding-top: 49px;
            color: white;
            margin-left: 5%;
            margin-right: 5%;
        }
    .gem-section {
      
            margin-top: -1611px;
        }
    .about-section {
      
            margin-top: -1477px;
        }
    
        .about-section-title {
            font-size: 2rem;
            color: #F23580;
            text-align: center;
            margin-top: -115px;
        }
    .col-md-6.about img{
        border-radius: 16px;
    }
    
  
/* Target the first .col-md-6 within .row in .about-section */
.about-section .row > .col-md-6:first-child img{border-radius: 16px;
    /* Your custom styles here for the left side */
}


.about-section .row > .col-md-6:last-child {
    padding-top: 19%;
    background-color: white;
    color: black;
    border-radius: 16px;
}
   
.collapse.navbar-collapse.ml-auto {
    justify-content: right;
}
/* Style for the active link */
.navbar-dark .navbar-nav .nav-item.active .nav-link {
    color: #F23580; /* Change this to the desired color */
}
.container-fluid-1  {
    width: 100%;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* Adjust the margin-top to create space between content and footer if needed */
.wrapper .footer {
    margin-top: 10px;
}

/* Your existing footer styles */
.footer {
    padding: 1rem;
    box-shadow: -1px 1px 14px 0px #00BFF0;
    width: 100%;
    background-color: #000;
}


/* Add this CSS to your existing stylesheet */

#footer-image {
    width: 170px;
   
}

.footer-text {
    font-size: 12px;
    color: #495057;
}
/* Style for the footer links */
.footer-links {
    list-style-type: none;
    padding: 0;
}
dl, ol, ul {
    /* margin-top: 0; */
    /* margin-bottom: 21rem; */
}
.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #f23580;
    transition: text-decoration 0.3s; /* Add a smooth transition effect */
}

.footer-links a:hover {
    text-decoration: underline; /* Underline the link on hover */
    color: #00BFF0; /* Change the link color on hover */
}
.container-fluid footer img {
    margin-left: 37%;
    justify-content: center;
    width: 25%;
    margin-top: -63px;
}



@media (min-width: 1024px) {
.project-title-rc {
    padding-bottom: 88px;
    font-size: 1.6rem;
    margin-left: 6%;
    color: #F23580;
    margin-top: -1499px;}
.project-text {
    color: white;
    margin-left: 5%;
    margin-right: 5%;
}
.row-3 {
    padding-top: 349px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    color: white;
}

}
