body {
    background-color: black;
}
.navbar {
    box-shadow: -1px 1px 14px 0px #00bFF0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1030;
}
.navbar-name {
    color: #F23580;
}
.bg-dark {
    background-color: #000!important;
}
.menu-icon-img img {
    width: 50px;
}
.menu-icon-img img {
    transition: transform 0.3s; /* Add a smooth transition effect */
}

.menu-icon-img:hover img {
    transform: scale(1.1); /* Increase the size on hover */
}
.jumbotron-content {
    position: relative; /* Position the container as a reference for absolute positioning */
}

img {
    max-width: 100%; /* Ensure the image doesn't exceed its container width */
    height: auto; /* Maintain the image's aspect ratio */
}
.jumbotron {
    background-color: #000;
}

.jumbotron-overlay {
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 20px;
}

.jumbotron-title {
    font-size: 2rem; /* Customize title font size */
    ;
}

.jumbotron-text {
    color: #00BFF0;
    font-size: 18px; /* Customize text font size */
}
.jumbotron-content img {
    margin-top: -28%;
    width: 100%;
    box-shadow: -1px 11px 99px 0px #00bFF0;
}
.jumbotron-content {
    margin-top: 54px;
    position: relative;
}

/* Your existing jumbotron styles remain the same */
.row {
   padding-bottom: 80px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}

/* Style for the content inside the glass border */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.row-1 {
    position: relative;
    margin-top: -341px;
    text-align: center;
    z-index: 2;
}
/* Additional styles for the image within row-1 */
.row-1 img {
    max-width: 100%; /* Ensure the image doesn't exceed its container width */
    height: auto; /* Maintain the image's aspect ratio */
}


.project-title {
    font-weight: 500;
    margin-top: -122px;
    font-size: 2rem;
    text-align: center;
    color: #F23580;
    padding-bottom: 5%;
    /* padding-bottom: 21%; */
}
.project-text {
    position: absolute;
    top: 100px; /* Adjust top, left, or other values as needed */
    left: 20px;
    /* Other styles for the text */
}
.border-image-container {
        position: relative;
    }
    
    
  
 
    .button-click {
     
   
        width: 48%;
        padding: 1rem;
    }
  


  
        .gem-section {
           position: relative;
        }
        
        /* Style for the "About Me" and "Resume" sections */
       
/* Style for the About Me columns */

.row.about-me {
    padding-top: 14%;
    /* margin-top: -1645px; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}
.row.resume-section {
    margin-top: -776px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}
.about-me {
     /* Adjust this value to control the overlap */
}

.resume-section {
    margin-top: -100px; /* Adjust this value to control the overlap */
}
.gem-section {
    position: relative;
    z-index: -1;
}


.about-me-col img {
    max-width: 100%;
    border-radius: 10px;
}

/* Target the left side of the row */
.row > .col-md-6:first-child.about-me-col {
    /* Add your styles for the left side here */
   
    color: white;
    /* Add any other specific styles for the left side */
}
/* Target the right side of the row */
.row > .col-md-6:last-child.about-me-col {
    /* Add your styles for the right side here */
    background-color: white;
    color: black;
    border-radius: 16px;
    /* Add any other specific styles for the right side */
}


.about-me-col .about-section-title {
    font-weight: 500;
    font-size: 1.8rem;
    margin-top: 20px;
    color: #F23580;
    text-align: center;
}

.about-me-col .about-section-text {
    font-size: 1rem;
    margin-top: 10px;
}

.resume-section-title{
    color: #F23580;
  
        font-weight: 300;
        font-size: 1.8rem;
       
    }

.collapse.navbar-collapse.ml-auto {
    justify-content: right;
}
/* Style for the active link */
.navbar-dark .navbar-nav .nav-item.active .nav-link {
    color: #F23580; /* Change this to the desired color */
}
.container-fluid-1  {
    width: 100%;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}



/* Adjust the margin-top to create space between content and footer if needed */
.wrapper .footer {
    margin-top: 10px;
}

/* Your existing footer styles */
.footer {
    padding: 1rem;
    box-shadow: -1px 1px 14px 0px #00BFF0;
    width: 100%;
    background-color: #000;
}


/* Add this CSS to your existing stylesheet */

#footer-image {
    width: 170px;
   
}

.footer-text {
    font-size: 12px;
    color: #495057;
}
/* Style for the footer links */
.footer-links {
    list-style-type: none;
    padding: 0;
}
dl, ol, ul {
    /* margin-top: 0; */
    /* margin-bottom: 21rem; */
}
.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #f23580;
    transition: text-decoration 0.3s; /* Add a smooth transition effect */
}

.footer-links a:hover {
    text-decoration: underline; /* Underline the link on hover */
    color: #00BFF0; /* Change the link color on hover */
}
.container-fluid footer img {
    margin-left: 37%;
    justify-content: center;
    width: 25%;
    margin-top: -63px;
}



